<table class="twelve columns">
  <tr>
    <td>
      <h1>Hi, <%= @user.name.titleize %></h1>
      <p class="lead">Welcome to Fetch My Fashion, where you can buy all the best brands from all the best stores at the lowest prices in one place.</p>
      <p>If you have any questions, just reply to this email</p>
    </td>
    <td class="expander"></td>
  </tr>
</table>                    