Welcome to FetchMyFashion, <%= @user.name.titleize %>
===============================================
 
You have successfully signed up to FetchMyFashion,
your username is: <%= @user.email %>.
 
To login to the site, just follow this <a href="http://www.fetchmyfashion.com">Link</a>.
 
Thanks for joining and have a great day!
