<div class="contain-to-grid">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <a href="/" target="_self"><img src=<%= asset_path "assets/storeluv-logo.png" %>></a>
      </li>

       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <%= render "authentication" %>
      </ul>
    </section>
  </nav>
</div>
<div class="sub-nav-container" ng-controller="SearchController as SearchCtrl" >
  <div class="row">
    <form ng-submit="SearchCtrl.updateSearch(searchString)">
      <div class="large-12 columns">
        <div class="row collapse">
          <div class="small-10 columns">
            <input type="search" placeholder="Find something you will luv..." ng-model="searchString" ng-change="SearchCtrl.findCat(searchString)">
          </div>
          <div class="small-2 columns">
            <input class="button postfix" type="submit" value="Search">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="filter-container row">
  <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">
    <li ng-controller="GenderController as GenderCtrl">
      <select ng-model="genderId" ng-change="GenderCtrl.setGender(genderId)">
        <option value="">Genders</option>
        <option value="mens">Mens</option>
        <option value="womens">Womens</option>
      </select> 
    </li>
    <li ng-controller="CategoryController as CategoryCtrl">
      <select ng-model="catId" ng-change="CategoryCtrl.setCategory(catId)">
        <option value="">Categories</option>
        <option ng-repeat="category in CategoryCtrl.categories.list()" value={{category.id}} ng-selected="CategoryCtrl.filters.getFilters().category === category.id">
          {{category.name}}
        </option>
      </select>
    </li>

    <li ng-controller="SubCategoryController as SubCategoryCtrl">

      <select ng-model="subCatId" ng-change="SubCategoryCtrl.setSubCat(subCatId)" ng-show="SubCategoryCtrl.filters.getFilters().category">
        <option value="">Sub Category</option>
        <option ng-repeat="subCat in SubCategoryCtrl.subCategories.list()" value={{subCat.id}} ng-selected="SubCategoryCtrl.filters.getFilters().subCategory === subCat.id" ng-show="subCat.category_id === SubCategoryCtrl.filters.getFilters().category">
          {{ subCat.name }}
        </option>
      </select>
    </li>
  </ul>
</div>

<div class="row products-row" ng-controller="ProductsController as products" infinite-scroll="products.nextPage(products.products)" infinite-scroll-distance="1" infinite-scroll-immediate-check='{{ products.scrollActive }}'>
  <div class="no-results" ng-show="products.products.getProducts().length === 0 && products.products.currentlySearching() === false">
    <h1><i class="fa fa-frown-o"></i></h1>
    <h4>No products matching "{{products.filters.getFilters().searchString}}"!</h4>
  </div>

  <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4" >
    <li ng-repeat="product in products.products.getProducts() track by $index" >
      <div ng-style="{'background-image':'url('+ product.image_url +')'}" class="product-container">
        <!-- <img ng-src="{{product.image_url}}"/> -->
        <a class="button buy-button" ng-click="products.openLink(product, user.id)">Buy</a> 
        <a class="button wish-button" ng-click="products.wishFor(product, user.id)">Wish</a> 
        <div class="product-description">
          <p class="product-brand">{{ product.brand_name }}</p>
          <p class="product-name" ng-bind-html="product.name"></p>
          <p class="product-price">{{ product.display_price | currency : '£' }}</p>
        </div>
        
      </div>
    </li>
  </ul>
  <div class="load" ng-show="products.products.currentlySearching()">
    <h4>
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle-o-notch fa-spin fa-stack-2x"></i>
        <i class="fa fa-circle-o-notch fa-spin fa-stack-1x"></i>
      </span>
    </h4>
    <h4>Grabbing the best products</h4>
  </div>
 
</div>
