<div class="row">
  <div class="col-sm-12">
    <% title("Home Page") %>
    <h1>Welcome to Search The Sales</h1>
  </div>
</div>

<h4>Everything you could want from the stores you love</h4>

<div class="row">
  <% @stores.each do |store| %>
  	<div class="col-md-3">
      <img src="<%= store.image_url %>">
    </div>
  <% end %>
</div>

<h4>All of your favourite brands</h4>

<div class="row">
  <% @brands.each do |brand| %>
    <div class="col-md-3">
      <img src="<%= brand.image_url %>">
    </div>
  <% end %>
</div>

<h4>Just a small selection of the thousands of products we have</h4>

<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-3">
      <img src="<%= product.image_url %>">
    </div>
  <% end %>
</div>