<h1>Listing products</h1>

<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-3">
      <img src="<%= product.image_url %>"><br>
      <p><%= product.name %></p>
    </div>
  <% end %>
</div>

<%= will_paginate @products %>

<br>

<%= link_to 'New Product', new_product_path %>
